.app-container {
  width: 90vw;
  height: 95vh;
  padding: 12px;
  margin: auto;
}

.auth-button {
  height: 32px;
}

.wave-chat-header {
  display: flex;
  align-items: center;
}
.wave-chat-header h1 {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.btn-sign-out {
  background-color: rgb(177, 86, 26);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10%;
}
.btn-sign-in {
  background-color: rgb(104, 26, 177);
  color: white;
}

.chat-container {
  display: flex;
  height: 80vh;
  box-shadow: 0px 0px 1px 0px rgb(92, 90, 90);
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  box-shadow: 0px 0px 1px 0px rgb(92, 90, 90);
  padding: 8px;
  /* background-color: #efd3f8; */
}

.channel-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  /* background: linear-gradient(to right, #b9f8e0, #e7bbfd, #f7a5aa); */
}

.conversation-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.conversation-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 12px;
  flex-grow: 1;
  flex-shrink: 1;
}
.conversation-token {
  width: 300px;
  border-radius: 12px;
  /* box-shadow: 0px 0px 1px 0px rgb(92, 90, 90); */
  margin-bottom: 12px;
  padding: 4px;
}

.conversation-content-right {
  display: flex;
  align-self: flex-end;
  background-color: #e8c8fa;
}
.conversation-content-left {
  display: flex;
  align-self: flex-start;
  background-color: #d6fcc1;
}

.chat-content{
  overflow-wrap: break-word;
}

.send-message-container {
  display: flex;
  height: 42px;
}

.send-message-wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 42px;
}

.send-message-wrapper input {
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 1px 0px rgb(92 90 90);
  border: none;
}
.send-button-wrapper {
  display: flex;
  width: 64px;
}
.send-button-wrapper button {
  color: white;
  background-color: rgb(28, 148, 108);
  border: none;
  width: 64px;
  cursor: pointer;
}

.conversation-header {
  height: 16px;
  padding: 12px;
  background-color: #ffe1ba;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: flex-start;
  transition: ease-in;
}

.peers-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  cursor: pointer;
  /* padding-left: 4px; */
}

.peer-avatar {
  height: 32px;
  width: 32px;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  padding: 0px;
  overflow: hidden;
  border-radius: 100%;
  object-fit: contain;
  margin-right: 12px;
}

.conversation-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 4px;
  padding-right: 12px;
}
.seen-status {
  color: blue;
  letter-spacing: -2px;
}

.delivered-status {
  color: grey;
  letter-spacing: -2px;
}

.sent-status {
  color: grey;
}

.online-marker {
  color: green;
  font-size: 30px;
}

.offline-marker {
  color: gray;
  font-size: 30px;
}

.online-status {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 12px;
}

.empty-channel-wrapper {
  padding: 8px;
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.peer-selected {
  border-radius: 4px;
  padding-left: 4px;
  background-color: #d7fae1;
}
